.header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 3;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: 1170px;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
}

.logo-link {
    display: block;
}

.logo-img {
    width: 195px;
    display: none;
}

.hamburger-icon-container {
    width: 40px;
}

.hamburger-icon {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    position: absolute;
    width: 40px;
    height: 4px;
    transition-property: transform;
    border-radius: 4px;
    top: 50%;
    transition-duration: 75ms;
    margin-top: -2px;
    background-color: #0f4c61;
    z-index: 1;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    background-color: #0f4c61;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
}

.hamburger-icon::before {
    top: -10px;
}

.hamburger-icon::after {
    bottom: -10px;
}

.hamburger-menu-toggle:checked + .hamburger-icon,
.hamburger-menu-toggle:checked + .hamburger-icon::before,
.hamburger-menu-toggle:checked + .hamburger-icon::after {
    background-color: #fff;
}

.hamburger-menu-toggle:checked ~ .main-nav {
    visibility: visible;
    animation: checked-anim 1s ease both;
}

.main-nav {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #0f4c61;
    color: #fff;
    animation: not-checked-anim 1s ease both;
}

.main-nav-link {
    display: block;
    color: #fff;
}

.main-nav-container {
    width: 50%;
    margin: 25% auto;
}

@media (min-width: 1200px) {
    .logo-img-mobile {
        display: none;
    }

    .logo-img {
        display: block;
    }
}

@keyframes checked-anim {
    100% {
        width: 100%;
        height: 100vh;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 100%;
        height: 100vh;
    }
    100% {
        width: 0;
        height: 0;
    }
}